{deps, [
  {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {branch, "master"}}},
  {sync, ".*", {git, "git://github.com/rustyio/sync.git", {branch, "master"}}},
  {gproc, ".*", {git, "git://github.com/uwiger/gproc.git"}},
  {mimetypes, ".*", {git, "git://github.com/spawngrid/mimetypes.git", {branch, "master"}}}
]}.
